@tailwind base;
@tailwind components;
@tailwind utilities;

.timeline-animate {
  opacity: 1;
  transform: translateY(0);
}

.timeline-animate > div > div {
  opacity: 0;
  transform: scale(0.5);
  animation: nodeAppear 0.5s ease-out forwards;
}

@keyframes nodeAppear {
  to {
    opacity: 1;
    transform: scale(1);
  }
}